p {
  font-family: $font_arial;
}
.c-footer-address {
  padding: map-get($spacers, 9) map-get($spacers, 4);
  margin: map-get($spacers, 0);
  background-color: map-get($colors, dark-bg);
  border: 1px map-get($colors, gray-dark) solid;
  h4 {
    font-size: map-get($spacers, 6);
    font-family: $font_arial;
    color: map-get($colors, white);
    &:hover {
      color: map-get($colors, white);
    }
  }
  p{
    color: map-get($colors, gray);
  }
  & h2 {
    font-size: 24px;
    color: map-get($colors, light);
    padding: map-get($spacers, 0) map-get($spacers, 5);
  }
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 0 map-get($spacers, 4) map-get($spacers, 8) map-get($spacers, 4);
    // border-bottom: map-get($colors, gray-dark) 1px solid;
    & h2 {
      font-size: 18px;
      color: map-get($colors, light);
    }
    @media (max-width: 480px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__list {
    list-style: none;
    padding: map-get($spacers, 0);
    margin-left: 5px;
  }
  &__item {
    font-size: 16px;
    margin-bottom: map-get($spacers, 5);
    & a {
      color: map-get($colors, gray);
      text-decoration: none;
      font-family: $font_arial;
      &:hover {
        color: map-get($colors, white);
      }
    }
  }
  &__footer-about {
    flex: 4 !important;
    padding-left: map-get($spacers, 0) !important;
    h2 {
      font-family: $font_burlingame;
    }
    p {
      font-size: map-get($spacers, 5);
      font-family: $font_arial;
      color: map-get($colors, white );
    }
    color: map-get($colors, gray);
  }
  &__footer-links {
    @media (max-width: 480px) {
      width: 100%;
      text-align: center;
      margin-bottom: 5px;
    }
  }
  &__footer-address {
    color: map-get($colors, white);
    @media (max-width: 480px) {
      width: 100%;
      text-align: center;
      margin-bottom: 5px;
    }
    & ul {
      list-style: none;
      margin: 0;
      padding: 0;
      & li {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        font-size: 16px;
      }
    }
    & i {
      margin-right: 5px;
    }
    & p {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
  &__social-account {
    margin-bottom: 20px;
    padding-right: 0px !important;
    border: 0 !important;
    margin-right: 0 !important;
    @media (max-width: 480px) {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }
    p {
      color: map-get($colors, gray);
      margin-top: 30px;
    }
  }
  &__copyright {
    padding: map-get($spacers, 4) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: map-get($colors, light);
    font-size: 12px;
    & p {
      margin: 0;
    }
  }
  .section {
    flex: 2;
    margin: 0 5px;
    border-right: 1px map-get($colors, gray-dark) solid;
    padding: 0px 10px;
  }
}
