.c-video {
  &__content_wrapper {
    position: absolute;
    left: 100%;
    bottom: 0;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: map-get($spacers, 5);
  }
  &__content {
    background-color: map-get($colors, white);
  }
  &__watch-link {
    color: map-get($colors, white);
    text-decoration: none;
    font-family: $font_arial;
    font-size: 1.125rem;
    margin: 0;
    transition: margin 0.25s ease;
    &:hover {
      margin-left: 3px;
      transition: margin 0.25s ease;
      color: map-get($colors, gray-dark);
    }
    &::before {
      background: url("https://www.fraserspropertyindustrial.com/assets/images/red-diamond.svg") no-repeat;
      // position: fixed;
      // left: 0;
      // top: 20px;
      // width: 20px;
      // height: 20px;
      content: ' ';
    }
  }
  &__modal-close{
    position: absolute;
    background: url("https://www.fraserspropertyindustrial.com/assets/images/icons/close-icon-grey.svg") no-repeat 50% 50%;
    top: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    padding: 0;
    overflow: hidden;
    text-indent: 200%;
    border: 0;
    cursor: pointer;
    &:hover{
      background: url("https://www.fraserspropertyindustrial.com/assets/images/icons/close-icon-red.svg") no-repeat 50% 50%;
    }
  }
  &__playicon {
    font-size: 14px;
    position: absolute;
    left: 15%;
    top: 35%;
    color: map-get($colors, red);
    cursor: pointer;
    background-color: map-get($colors, grey);
    width: 50px !important;
    padding: map-get($spacers, 2);
    border-radius: 5px;
  }
}
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
  transition: opacity 0.5s linear;
}
.c-button__close {
  margin: 0.5em;
}
