// Colors
$colors: (
  blue: #007bff,
  indigo: #6610f2,
  purple: #6f42c1,
  pink: #e83e8c,
  red: #dc3545,
  orange: #fd7e14,
  yellow: #ffc107,
  green: #28a745,
  teal: #20c997,
  cyan: #17a2b8,
  white: #fff,
  gray: #a7a9ab,
  gray-dark: #585858,
  primary: #ed1c24,
  secondary: #80000b,
  success: #4caf50,
  info: #2196f3,
  warning: #ffc107,
  danger: #ed1c24,
  light: #fafafa,
  dark: #585858
);

// Paddings
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: ( $spacer * 0.125 ),  //2px 
  2: ( $spacer * 0.25 ), //4px 
  3: ( $spacer * 0.375 ), //6px 
  4: ( $spacer * 0.5 ), //8px 
  5: ( $spacer * 0.75 ), //12px 
  6: ( $spacer * 1 ), //16px
  7: ( $spacer * 1.5 ), //24px
);
